<ion-view view-title="Categories">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
    <ion-list>
      <ion-item class="item-icon-right" collection-repeat="category in categories" type="item-text-wrap"
                href="#/tab/category/{{category.id}}" ng-click="selectOne(category)">
        <h2>{{category.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
