<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{product.ProductTitle}}">
  <ion-content class="padding">
    <ion-list class="card">
      <ion-item class="item item-avatar">
        <img src="http://metcash-iga-national-uploads.s3-ap-southeast-2.amazonaws.com/content/uploads/2015/11/23151857/iga-logo.png">
        <h2>{{product.ProductTitle}}</h2>
        <p>{{product.EffectiveStartDate | date:"MM/dd/yyyy"}} à {{product.EffectiveEndDate | date:"MM/dd/yyyy"}}</p>
      </ion-item>

      <div class="item item-body">
        <img class="full-image" ng-src="{{product.ImageURL}}">
        <p>
          Prix avant: <b>{{product.Price}}</b>
        </p>
        <p>
          Prix après: <b>{{product.PriceAsNumber}}</b>
        </p>
      </div>

      <ion-item class="item item-body">
        <h2>Categorie</h2>
        <p><b>{{product.CategoryName_fr}}</b></p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>


